:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  font-size: 18px;
  background-color: var(--secondary-text-color);
}

/* reset */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* utils */
.container {
  width: 1360px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header {
  background-color: #5e5e5e;
}

.logo-type {
  margin-right: auto;

  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);

  display: flex;
  align-items: center;
}

.logo-icon {
  margin-right: 10px;
}

.accent {
  color: var(--accent-color);

  margin-right: 12px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 38px;
}

.header-nav-link {
  display: inline-block;
  padding: 21px 0;
  line-height: 1.56;
  color: var(--secondary-text-color);
}

/* hero */
.hero {
  padding: 259px 0 284px 0;
  display: block;
  text-align: center;

  background-color: #5e5e5e;
}
.hero-title {
  margin-bottom: 45px;

  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: #e9e9e9;
}

.hero-text {
  margin-bottom: 29px;

  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;
}

.hero-button {
  padding: 10px 30px 10px 41px;

  line-height: 1.56;
  color: var(--secondary-text-color);

  background: var(--accent-color);
  border-radius: 5px;
}

/* about */
.about {
  padding: 122px 0 19px 0;
  background-color: #f4f4f4;
}

.about .container {
  padding-right: 66px;
  padding-left: 66px;
}

.about-list {
  display: flex;
  gap: 71px;
}

.about-item {
  width: calc((100% - 142px) / 3);
}

.about-title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
}

.about-text {
  line-height: 1.56;
  text-align: center;
}

/* solutions */
.solutions .container {
  display: flex;
  padding: 0;
}

.solutions-wrapper {
  background-color: var(--accent-color);
  padding: 84px 44px 84px 30px;
}

.solutions-subtext {
  font-size: 20px;
  line-height: 1.65;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.solutions-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: var(--secondary-text-color);
  margin-bottom: 26px;
}

.solutions-text {
  line-height: 1.56;
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}

.solutions-button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 11px 27px 12px 42px;
  line-height: 1.56;
  color: var(--secondary-text-color);
  display: inline-block;
}

.cases {
  padding: 50px 0;
}

.cases-subtext {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primary-text-color);

  margin-bottom: 15px;
}

.cases-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--primary-text-color);

  margin-bottom: 34px;
}
.cases-text {
  line-height: 1.56;
  text-align: center;
  color: var(--primary-text-color);

  margin-bottom: 39px;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;

  row-gap: 7px;
  column-gap: 8px;
}

.cases-item {
  width: calc((100% - 24px) / 4);
}
