<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="logo-type link">
        <svg class="logo-icon" width="40" height="30">
          <use href="./images/icons/sprite.svg#icon-logo"></use>
        </svg>
        <span class="accent">Finance</span> Ledger
      </a>
      <ul class="header-nav-list list">
        <li class="header-nav-item list">
          <a href="" class="header-nav-link link">Home</a>
        </li>
        <li class="header-nav-item list">
          <a href="" class="header-nav-link link">About</a>
        </li>
        <li class="header-nav-item list">
          <a href="" class="header-nav-link link">Cases</a>
        </li>
        <li class="header-nav-item list">
          <a href="" class="header-nav-link link">Blog</a>
        </li>
        <li class="header-nav-item list">
          <a href="" class="header-nav-link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
